// Define variables for your color scheme

// For example:
$primary-green: #12784A;
$primary-hover-green: #125738;
$secondary-green: #268E5F;
$background-grey: #ebe9e9;
$background-white: #FFFFFF;
$font-black: #1F1F1F;
