<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<div class="container">
  <div class="new-lists">
    <div class="new-list">
      <h1>Book <strong>jewels</strong> !</h1>
      <%= simple_form_for [ @jewel, @booking ] do |f| %>
        <%= f.input :starting_date, as: :date, html5: true %>
        <%= f.input :ending_date, as: :date, html5: true  %>
        <%= f.submit "Submit", class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>
