<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<div class="container">
  <div class="new-lists">
    <div class="new-list">
      <h1>Book <strong>jewels</strong> !</h1>
        <%= simple_form_for [@jewel, @booking], html: { data: { controller: 'flatpickr' } } do |f| %>
            <%= f.input :starting_date, as: :string, input_html: { data: { flatpickr_target: 'startingDateInput' } } %>
            <%= f.input :ending_date, as: :string, input_html: { class: 'd-none', data: { flatpickr_target: 'endingDateInput' } } %>
            <%= f.submit 'Book now!', class: 'btn btn-primary' %>
        <% end %>
    </div>
  </div>
</div>
