
<div class="banner">
  <div class="container">
    <div class="hero_text">
      <p class="hero_font">The jewels of your dreams</p>
    </div>
    <div class="banner-text">
    <p class="paragraph_large_font">Get the feeling of high quality jewels for any event</p>
    </div>
  </div>
</div>
