<div class="navbar">
  <div class="nav-container">
    <a href="/" id="logo">AirJewels</a>
    <div class="buttons-right">
      <a href="/" class="btn-secondary-light paragraph_medium_font">Rent jewels</a>
      <a href="/" class="btn-secondary paragraph_medium_font">Login</a>
    </div>
  </div>
</div>
