<%= render "shared/banner" %>

<div class="container">

  <%= render "jewels/category-btn" %>

  <p class="heading_medium_font">
    Our best jewels available
  </p>

  <%= render "jewels/jewels-display" %>
</div>
