.btn-primary {
  padding: 10px 25px;
  background-color: $primary-green;
  border-radius: $border-radius-buttons;
  color: $background-white;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  letter-spacing: -3%;
  --bs-btn-border-color: none;
  &:hover {
    color: $background-white;
    background-color: $primary-hover-green;
    --bs-btn-border-color: none;
  }
}

.btn-secondary {
  padding: 8px 25px;
  border-radius: $border-radius-buttons;
  background-color: none;
  color: $primary-green;
  border: 1px solid $primary-green;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  font-weight: 400;
  font-size: 16px;
  &:hover {
    color: $background-white;
    background-color: $primary-hover-green;
  }
}

.btn-secondary-light {
  padding: 5px 25px;
  border-radius: $border-radius-buttons;
  background-color: none;
  color: $font-black;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  font-weight: 400;
  font-size: 16px;
  &:hover {
    color: $primary-green;
  }
}

.badge {
  padding: 5px 15px;
  border-radius: $border-radius-badge;
  background-color: #c19b49;
  color: white;
  text-decoration: none;
  transition: 0.2s;
  font-weight: 600;
  font-size: 14px;
}

.badge-cancel {
  padding: 5px 15px;
  border-radius: $border-radius-badge;
  background-color: $background-grey;
  color: $font-black;
  text-decoration: none;
  transition: 0.2s;
  font-weight: 600;
  font-size: 14px;
  opacity: 0.5;
  &:hover {
    opacity: 0.9;
  }
}

.badge-choice {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: $border-radius-badge;
  background-color: $background-grey;
  color: $font-black;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  opacity: 0.9;
  &:hover {
    opacity: 0.6;
  }
}

.badge-canceled {
  padding: 5px 15px;
  border-radius: $border-radius-badge;
  border: 1px solid #D7202B;
  color: #D7202B;
  font-weight: 600;
  font-size: 14px;
}

.badge-pending {
  padding: 5px 15px;
  border-radius: $border-radius-badge;
  border: 1px solid #E59700;
  color: #E59700;
  font-weight: 600;
  font-size: 14px;
}

.badge-accepted {
  padding: 5px 15px;
  border-radius: $border-radius-badge;
  border: 1px solid #56A30A;
  color: #56A30A;
  font-weight: 600;
  font-size: 14px;
}
