.btn-primary {
  padding: 10px 25px;
  background-color: $primary-green;
  border-radius: $border-radius-buttons;
  color: $background-white;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  letter-spacing: -3%;
  &:hover {
    color: $background-white;
    background-color: $primary-hover-green;
  }
}

.btn-secondary {
  padding: 8px 25px;
  border-radius: $border-radius-buttons;
  background-color: $secondary-green;
  color: $background-white;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  font-weight: 400;
  font-size: 16px;
  &:hover {
    color: $background-white;
    background-color: $primary-hover-green;
  }
}

.btn-secondary-light {
  padding: 5px 25px;
  border-radius: $border-radius-buttons;
  background-color: none;
  color: $font-black;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  font-weight: 400;
  font-size: 16px;
  &:hover {
    color: $primary-green;
  }
}

.badge {
  padding: 5px 15px;
  border-radius: $border-radius-badge;
  background-color: $background-grey;
  color: $font-black;
  text-decoration: none;
  transition: 0.2s;
  font-weight: 600;
  font-size: 14px;
}
