.sneaker-cards {
  display: grid;
  flex-grow: 1;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.sneaker-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2%;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 100px) and (max-width: 768px) {
  .sneaker-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 767px) and (max-width: 1700px) {
  .sneaker-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.sneaker-cards a {
  color: rgb(255, 255, 255);
}

.sneaker-card .poster-img {
  width: 100%;
  object-fit: scale-down;
  margin-top: 0px;
  border-radius:10px
}

.sneaker-cards btn {
  justify-content: center;
}

.sneaker-cards .list-group-item {
  margin: 2%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 450px;
  padding: 0;
  text-align: left;
    p {
      color: grey;
      width: 100%;
      height: 45px;
      overflow: hidden;
    }
    a {
      bottom: 5%;
    }
    h4 {
      font-size: 100%;
    }
}

.sneaker-card-text {
  padding: 4%;
  text-align: left;
  height: 50%;
  position: absolute;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.card-show-sneaker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
    img {
      width: 100%;
    }
}

.card-show-sneaker-text {
  padding: 4%;
  text-align: left;
  height: 50%;
}

.show-delete {
  display: flex;
  justify-content: space-between;
  color: red;
}

.list-group-item{
width : 90%;
height: 450px;
background: rgba(255, 255, 255, 0.573);
border-radius:10px;
margin-left: 1%
}

.sneaker-card-footer {
  background: transparent;
  border-top: 0px;
}
