// Main card
.main-card {
  height: 470px;
  width: 345px;
  border-radius: $border-radius-buttons;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba($color: black, $alpha: 0.1);
}

.img-card {
  width: 100%;
  height: 40%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.card-info {
  padding: 15px;
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: space-between;
}

.card-info-top {
  p {
    margin: 10px;
  }
}

.card-text {
  margin-bottom: 20px;
}

.card-info-bottom {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}


// Card for categories

.card-category {
  width: 19%;
  border-radius: $border-radius-buttons;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba($color: black, $alpha: 0.1);
  p {
    color: white;
    padding: 20px 0;
    margin: 0px;
  }
}

.card-category-watch {
  background-image: url(https://images.unsplash.com/photo-1542496658-e33a6d0d50f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center;
}

.card-category-earing {
  background-image: url(https://images.unsplash.com/photo-1630019852942-f89202989a59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=746&q=80);
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center;
}

.card-category-bracelet {
  background-image: url(https://images.unsplash.com/photo-1611591437281-460bfbe1220a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center;
}

.card-category-ring {
  background-image: url(https://images.unsplash.com/photo-1586104195538-050b9f74f58e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center;
}

.card-category-necklace {
  background-image: url(https://images.unsplash.com/photo-1601821765780-754fa98637c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80);
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center;
}
