.footer {
  height: 150px;
}

footer {
  width: 100%;
  padding: 30px 0;
  background-color: $background-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  margin-top: 200px;
}
