.bg-form {
  background-color: $background-grey;
  box-shadow: 0px 4px 4px rgba($color: black, $alpha: 0.1);
  border-radius: 8px;
}

.bg-title {
  font-weight: 700;
  line-height: 32px;
  font-size: 24px;
  letter-spacing: -3%;
  background-color: $font-black;
  border-radius: 8px;
}

.bg-title h2 {
  font-weight: bold;
}

.green-link {
  color: $primary-green;
  &:hover {
    color: $primary-hover-green
  }
}
