// Colors
$primary-green: #12784A;
$primary-hover-green: #125738;
$secondary-green: #268E5F;
$background-grey: #DDDDDD;
$background-white: #FFFFFF;
$font-black: #1F1F1F;

// style
$border-radius-buttons: 5px;
$border-radius-badge: 20px;

// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "card";
@import "logo";
@import "buttons";
@import "footer";
