.navbar {
  background-color: $background-white;
  width: 100%;
  border-bottom: solid 1px rgba($color: $font-black, $alpha: 0.2);
}

.nav-container {
  display: flex;
  align-items: center;
  margin: 0 40px;
  justify-content: space-between;
  width: 100%;
}
