// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Font family
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  color: $font-black;
  background-color: $background-white;
  width: auto;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

.text-ellipsis{
  text-overflow:ellipsis;
  overflow:hidden;
  // Addition lines for 2 line or multiline ellipsis
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.hero_font {
  font-weight: 700;
  line-height: 88px;
  font-size: 80px;
  letter-spacing: -3%;
}

.heading_large_font {
  font-weight: 700;
  line-height: 48px;
  font-size: 40px;
  letter-spacing: -3%;
}

.heading_medium_font {
  font-weight: 700;
  line-height: 32px;
  font-size: 24px;
  letter-spacing: -3%;
}

.heading_small_font {
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  letter-spacing: -3%;
}

.paragraph_large_font {
  font-weight: 600;
  font-size: 18px;
}

.paragraph_medium_font {
  font-weight: 400;
  font-size: 16px;
}

.paragraph_small_font {
  font-weight: 400;
  font-size: 14px;
}

.label_font {
  font-weight: 600;
  font-size: 14px;
}
